{% extends "rest_framework/base.html" %}

{% block branding %}
{% include "navbar.html" %}
{% endblock %}

{% block content %}
<style>
  #content {
    height: 85vh;
  }
</style>
<a href={% url 'generar_reporte' %}>
  <button type="button" class="btn btn-outline-info">Generar reporte</button>
</a>

<div style=" height:100%; position:relative;">
  <div style="background-color: #D8D8D8; position:absolute; bottom:0; padding: 30px; width: 100%">
    <div style="float: left; width: 400px;">ISIS-2503 Arquitectura y Diseño de Software</div>
    <div style="float: right; width: 220px;">Universidad de los Andes</div>
    <br>
    <div style="float: left; width: 400px;"><i>Phaber</i></div>
  </div>
  <br>
</div>
{% endblock %}